section#main {
  margin-top: 50px;
}

section#main h2 {
  text-align: center;
}

section#main button {
  width: 100%;
}

@media screen and (max-width: 767px) {
  section#main h2 {
    font-size: 3rem;
    text-align: center;
  }
}
